{% block stylesheets %}
    <link href="{{ asset('bundles/catalog/css/bin.css') }} " type="text/css" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

<div>

    <a href="{{ path('nurix_goods_get_info', {'id': tovar.id} ) }}">{{  tovar.imagePath|galleryThumb(asset('bundles/catalog/img/noImage/good_big.jpg'),'goods_big',{'class':'popup_image'})  }}</a>
     <div class="popup_aboutItem">
        <a class="name" href="{{ path('nurix_goods_get_info', {'id': tovar.id} ) }}">{{ tovar.name }}</a>
        <div class="from">{{ tovar.shortDescription }}</div>

        <span class="price"><span class="from">цена: </span>{{ tovar.price|price('USD')}} ({{ tovar.price|price('KGS')  }})</span>
        <a href="{{ path('nurix_bin_item') }}"><span class="bin-link"><img src="{{ asset('public/img/korzinka.png') }}">перейти к заказу</span></a>
    </div>
</div>