{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} : Оформление заказа
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("bundles/catalog/css/bin-order.css") }}" rel="stylesheet">
{% endblock stylesheets %}

{% block body %}
    <h2>Форма оформления заказа</h2>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% else %}
    <form action="{{ path("nurix_bin_order_form") }}" method="post" id="order-form">
        <div id="order-form-fio">
            {{ form_label(form.fio) }}
            {{ form_widget(form.fio) }}
        </div>
        <div id="order-form-phone">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
        </div>
        <div id="order-form-email">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        <input type="submit" value="Сохранить" class="link-btn">
    </form>
    {% endfor %}
{% endblock body %}