{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} : Корзина
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/catalog/css/bin.css') }} " type="text/css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript"  src="{{ asset("bundles/catalog/js/jquery.cookie.js")}}"></script>
    {{ parent() }}
{% endblock %}

{% block body %}

    <div>
        <h2>Корзина:</h2>

        {% if goods %}
            {% set totalPrice = 0%}
            <form method="post" action="{{ path("nurix_bin_bin_form") }}">
                <table class="bin-table">
                    <tr>
                        <th>Товар:</th>
                        <th>Цена:</th>
                        <th>Кол-во:</th>
                        <th>Итого:</th>
                    </tr>
                    {% for good in goods %}
                        {% set count = attribute(goodCount,good.id) %}
                        {% set totalPrice = totalPrice + good.price * attribute(goodCount,good.id)  %}
                        <tr id="{{ good.id }}">
                            <td>
                                <a href="{{ path('nurix_goods_get_info', {'id': good.id} ) }}">
                                    {{ good.imagePath|galleryThumb(asset('bundles/catalog/img/noImage/good_small.jpg'),'goods_big',{'class':'bin_itemPic'}) }}
                                </a>
                                <div class="bin_aboutItem">
                                    <a class="name" href="{{ path('nurix_goods_get_info', {'id': good.id} ) }}">{{ good.name }}</a>

                                    <div class="from">{{ good.shortDescription }}</div>
                                    <a href="{{ path('nurix_goods_get_info', {'id': good.id} ) }}" style="color: #ca5f00;">подробная информация &rarr;</a>
                                </div>
                            </td>
                            <td>
                                <div class="bin_itemPrice" id="price_{{ good.id }}">
                                    <span class="Som">{{ good.price|price('KGS') }}</span>
                                    <span class="Dollar">{{ good.price|price('USD') }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="bin_itemCount">
                                    <span class="itemCounter itemAdd"  onmousedown="return false">&nbsp;</span>
                                    <input class="itemVvod" type="text" id="{{ good.id }}" value="{{ count }}"
                                           name="bin[{{ good.id }}]"/>
                                    <span class="itemCounter itemSub"  onmousedown="return false">&nbsp;</span>
                                </div>
                            </td>
                            <td>
                                <div class="bin_itemPrice" id="goodTotal_{{ good.id }}">
                                    <span class="Som">{{ (good.price * count)|price('KGS')  }}</span>
                                    <span class="Dollar">{{ (good.price * count)|price('USD') }}</span>
                                    <span data-id={{ good.id }} class="bin-remove bin-remove-item">&nbsp;</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="stop-count">
                        <td>
                            <div class="itog">Итого:</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="bin_itemTotalPrice">
                                <span class="Som">{{ totalPrice|price('KGS') }}</span>
                                <span class="Dollar">{{ totalPrice|price('USD') }}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pt12 red">
                            Заказанный Вами товар доставляется в течении 7 дней,
                            а именно от четверга до четверга,
                            т.к. товар прибывает в Бишкек каждый четверг.
                            Заказ необходимо сделать до вторника.
                        </td>
                        <td></td>
                        <td></td>
                        <td class="pt12">
                            <input class="button_buy-trn" type="submit" value="Оформить заказ" name="bin-btn">
                        </td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h3>Корзина пуста</h3>
        {% endif %}
    </div>

{% endblock body %}