<a href="{{ path('nurix_bin_item') }}">
    <div class="brown_color">
        <img src="{{ asset('public/img/korzinka.png') }}" alt="header">Ваша корзина:
    </div>

    {% if count %}

        <div class="otstup">{{ count|count('товар','товара','товаров') }}</div>
        <div class="otstup">на сумму {{ sum|price('KGS') }}</div>

    {% else %}
        <h5>Корзина пуста</h5>
    {% endif %}
</a>