.bin_itemPic {
    float: left;
    height: 110px;
    width: 110px;
    margin: 10px 0;
}

.bin_aboutItem {
    float: left;
    margin-left: 10px;
    margin-top: 35px;
    width: 190px;
    word-wrap: break-word;
}

.bin_aboutItem .name,.popup_aboutItem .name {
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.bin_aboutItem .from,.popup_aboutItem .from {
    color: #666666;
    margin: 10px 0 13px 0;
}

.bin_aboutItem .name:hover,.popup_aboutItem .name:hover  {
    border-bottom: 1px solid;
}

.bin_itemPrice{
    position: relative;
    margin-top: 35px;
}

.bin-remove {
    background: url("../img/remove-icon.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 5px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 5px;
}

.bin_itemPrice .Som{
    font-size: 16px;
    display: block;
}

.bin_itemPrice .Dollar{
    color: #666666;
    margin-top: 10px;
    display: block;
}

.bin_itemTotalPrice .Som{
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.bin_itemTotalPrice .Dollar{
    color: #666666;
    display: block;
    margin: 10px 0;
}

.bin_itemCount{
    margin-top: 35px;
}

.itemCounter {
    background: url('../img/plus-minus.png') no-repeat;
    display: block;
}

.itemAdd {
    background-position: 0 -2px;
    float: left;
    height: 23px;
    width: 23px;
    cursor: pointer;
}

.itemVvod {
    border: 1px solid #CFCFCF;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 22px;
    padding: 2px 3px;
    text-align: center;
    width: 32px;
    margin: -3px 4px;
}

.itemSub {
    background-position: 0 -28px;
    float: left;
    height: 23px;
    width: 23px;
    cursor: pointer ;
}

table.bin-table tr th {
    color: #999999;
    text-align: left;
    padding-bottom: 5px;
}

table.bin-table{
    border-collapse: collapse;
}
table.bin-table tr{
    border-bottom: 1px solid #e7e7e7;
}

table.bin-table tr td, table.bin-table tr th {
    vertical-align: top;
    width: 120px;
}

table.bin-table tr td:first-child, table.bin-table tr th:first-child {
    width: 320px;
}

table.bin-table tr td:last-child, table.bin-table tr th:last-child {
    width: 130px;
}

table.bin-table tr:last-child{
    border-bottom: none;
}
.itog{
    color: #666666;
    margin-top: 10px;
}

.popup_image {
    width: 210px;
    float: left;
    margin-right: 25px;
}

.ui-icon-closethick {
    display: none !important;
}

.popup_aboutItem{
    float: left;
    width: 180px;
}

.bin-link{
    color: #ca5f00 !important;
    display: block;
}

.popup_aboutItem .price{
    font-size: 16px;
    display: block;
    padding-left: 0;
    padding-top: 15px;
    margin-bottom:115px;
}

.pt12{
    padding-top: 12px;
}

.red {
    color: #ff0000;
}