.font
{
    font-family: Arial;
}

.size16px, .size16px > span.value
{
    font-size: 16px;
}
.catalog_item
{
    text-align: left;
    height: 295px;
    width: 210px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.catalog_title
{
    text-align: left;
    font-size: 24px;
    margin-bottom: 25px;
}
.clearbox
{
    clear: both;
}
.product_title
{
    height: 45px;
    text-align: center;
}
.product_title .name
{
    border-bottom: 1px dashed;
}
.product_title .name:hover
{
    border-bottom:1px solid;
}
.left
{
    text-align: left;
}
.size24px
{
    font-size: 24px;
}
.gray
{
    color: #666666;
}
.margin_top10px
{
    margin-top: 10px;
}

.price
{
   padding-top: 7px;
}
.catalog_item .price_kgs
{
    padding-left: 5px;
}
.button_else
{

    text-align: center;
}
#showMoreRnd
{
    margin-top: 20px;
    width: 180px;
    height: 18px;
}
.strelka_vniz
{
    background: url("../img/strelka_vniz.png") no-repeat;
    display: inline-block;
    margin: -2px 9px;
    height: 10px;
    width: 3px;
}
/* TODO: удалить в будущем */
.short_description
{
    width: 210px;
    height: 30px;
    overflow: hidden;
}
.product_img {
    display: inline-block;
    width: 210px;
    height: 210px
}

.product_img > a {
    position: relative;
}

.sticker {
    position: absolute;
    left: 137px;
    top: -210px;
    /* opacity: 0.95; */
}

.catalog_hr
{
    width: 655px;
    margin-bottom: 10px;
}