.ui-carousel {
	height: 100px;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative; /*for ie7 to work e.g in html carousels*/
	/*width: 300px*/
}

.ui-carousel > .wrapper {
    margin: 0;
    padding: 0;
    width: 9999px;
}

.ui-carousel > .wrapper > * {
	border: 0;
	display: block;
	float: left;
	height: 100px;
	overflow: hidden;
	width: 100px;	
}
.container
{
    margin-top:40px;
}
.center
{
    margin: 0 auto;
}
.slide_image
{
    float: left;
}
#slider-carousel-prev
{
    background: url("../phones/arrow_left.png") no-repeat;
    height: 70px;
    width: 15px;
    left: -15px;
    position: absolute;
    top:0;
    margin-top: 170px;
    display: block;

}
#slider-carousel-next
{
    background: url("../phones/arrow_right.png") no-repeat;
    height: 70px;
    width: 8px;
    right: 0;
    position: absolute;
    top: 0;
    margin-top: 170px;
    display: block;
}
.sale
{
    position: relative;
}
.carousel
{
    position: relative;
}