{% extends  '::base.html.twig' %}

{% block title %}
    {{ parent() }} : {{ page.title }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/nurixpage/css/pages.css') }} " type="text/css" rel="stylesheet"/>
{% endblock %}
{% block body %}
        <h1 class="pages_center">{{ page.title }}</h1>
         {{ page.content|raw }}
{% endblock %}
