<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Nurix Mobile{% endblock %}</title>
    <meta name="Description" content="Интернет-Магазин Nurix-Mobile. {% block meta_description %} Мы занимаемся розничной и оптовой продажей сотовых телефонов с Объединенных Арабских Эмиратов по самым низким ценам. {% endblock %}">
    <meta property="og:image" content="{% block facebook_image_url %}{{ asset('public/img/logo.png') }}{% endblock %}" />
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('public/css/mainframe.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("public/css/facebook.css") }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("bundles/applicationsonatauser/css/sonata.css") }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset("public/css/jquery-ui.css") }}"/>
    {% endblock %}
    <script type="text/javascript">
        var base_url = "{{ path('nurix_homepage') }}";
    </script>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset("public/js/facebook.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/jquery-1.9.0.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/html5placeholder.jquery.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/jquery-ui.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/jquery.validate.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/applicationsonatauser/js/registration.js") }}"></script>
        <script type="text/javascript" src="{{ asset("public/js/jquery.pwstrength.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/catalog/js/bin.js") }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!-- BEGIN JIVOSITE CODE {literal} -->
        <script type='text/javascript'>
            (function(){ var widget_id = '96934';
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
        <!-- {/literal} END JIVOSITE CODE -->
        <script type="text/javascript">
            var reformalOptions = {
                project_id: 117927,
                project_host: "nurix.reformal.ru",
                tab_orientation: "right",
                tab_indent: "50%",
                tab_bg_color: "#f0ac00",
                tab_border_color: "#FFFFFF",
                tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/88128dfd6ca0743b5ccc2f8afed9f3b1/right/0/tab.png",
                tab_border_width: 1
            };

            (function() {
                var script = document.createElement('script');
                script.type = 'text/javascript'; script.async = true;
                script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
                document.getElementsByTagName('head')[0].appendChild(script);
            })();
        </script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://nurix.reformal.ru">Oтзывы и предложения для Nurix Mobile</a></noscript>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-43463245-1', 'nurix.kg');
            ga('send', 'pageview');

        </script>
        <script>
            'article aside footer header nav section time'.replace(/\w+/g,function(n){document.createElement(n)})
        </script>
    {% endblock %}
<!-- test -->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" sizes="16x16"/>
</head>
<body>
<header>
    <div class="center">
        <div class="header_line">
            {% block mainMenu %}
                {{ knp_menu_render('main',{template : '::main_menu.html.twig'}) }}
            {% endblock %}
            <div class="search">
                {% render controller('NurixBundle:Search:ShowForm') %}
            </div>
            <div class="vhod_div">
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <div id="vhod_message">
                        <a href="{{ path('sonata_user_profile_show') }}">
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        </a>
                        |
                    </div>

                    <div class="vhod">
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </div>

                {% else %}
                    {% if app.request.attributes.get('_route') != 'fos_user_security_login' %}
                        <a class="vhod" id="register_button_id">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}

                    <a href="{{ path('fos_user_registration_register') }}">
                        <div class="button f12">
                            Зарегистрироваться
                        </div>
                    </a>
                {% endif %}
                {# popup login#}
                <div id="registration_form" style="display: none" title="Войти">
                    {#{% render url('fos_user_security_login') %}#}
                    {% include 'ApplicationSonataUserBundle:Security:login_popup.html.twig' %}
                </div>
                {#END popup login#}

                <div id="tovar-added" title="Товар принят к заказу.">

                </div>

            </div>

        </div>
        <!--[if lt IE 9]>
            <div class="ie_stop">
                <h2>
                    Мы обнаружили, что у Вас установлен Internet Explorer версии 8 или ниже.
                    Рекомендуем Вам установить более адекватный браузер такие как <a href="http://www.google.com/intl/ru/chrome/">Google Chrome</a>,<a href="http://www.mozilla.org/ru/firefox/new/"> Mozilla Firefox</a> или <a href="http://www.opera.com/computer/windows">Opera</a>.
                </h2>
            </div>

        <![endif]-->
        <div class="header_line2">

            <div id="logo">
                <a href="{{ path("nurix_homepage") }}"><img src="{{ asset('public/img/logo.png') }}" alt="header"/></a>
            </div>
            <div id="contacts">
                <span class="gray_color f14">+996</span>
                <span class="f18">707</span>
                <span class="f24">803</span>
                <span class="f24">655</span><br>
                <span class="gray_color f14">+996</span>
                <span class="f18">552</span>
                <span class="f24">753</span>
                <span class="f24">159</span>
            </div>
            <div id="times">
                <span class="gray_color">Время работы:</span><br>
                <span class="gray_color">c</span>
                <span class="gray_color f20">10:00</span>
                <span class="gray_color">до</span>
                <span class="gray_color f20">20:00</span><br>
                <span class="gray_color f16">7 дней в неделю</span>
            </div>
            <div class="korzina" id="bin_widget">
                {% render controller('CatalogBundle:Bin:mainBin') %}
            </div>
        </div>
        <div class="clearbox"></div>
        <hr class="main_hr">
    </div>
    {% block slider %}
    {% endblock %}

</header>
<div class="middle center">
    <div class="leftColumn">
        <div id="catalog_left_menu">
        {% block catalog_menu %}
            {{ knp_menu_render('catalog_sidebar', {'currentClass': 'current'}) }}
        {% endblock %}
        </div>
        <div id="interesting">
            {% block side_menu %}
                {{ knp_menu_render('info_sidebar', {'currentClass': 'current'}) }}
            {% endblock %}
        </div>
        <div class="facebook_page">
            {% block facebook_page %}
                <fb:fan profile_id="128170930622470" stream="0" connections="6" width="210px"
                        header="0" logobar="0"
                        css="http://nurix.sytes.net/public/css/facebook.css?v=4"></fb:fan>
            {% endblock %}
        </div>

    </div>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
</div>
<div class="clearbox"></div>
<footer>
    <div class="footerLine"></div>
    <div class="footerBackgroung">
        <div class="center">
            <div class="footer">

                <div class="footerColumn">

                    <div class="logoFooter">
                        <a href="/"><img src="{{ asset('public/img/logoFooter.png') }}" alt="Nurix Mobile Logo"/></a>
                    </div>

                    <div class="aboutUsText f12">
                        Деятельностью интернет магазина Nurix является розничная, а также оптовая продажа сотовых телефонов из Объединенных Арабских Эмиратов по самым низким ценам в Бишкеке. 
                        <br/>
                        Своим клиентам мы предлагаем широкий ассортимент сотовых телефонов и планшетов! Товар приобретается у надежных и проверенных временем поставщиков, что исключает возможные проблемы с качеством товара. 
                        <br/>
                        Для оптовых покупателей мы предлагаем особые условия сотрудничества, подробнее об этом можно узнать на нашем сайте оптовой продажи <a href="http://www.ssg.kg">www.ssg.kg</a>
                    </div>

                    <div class="f12 white_color">
                        © Nurix.kg, 2011 - {{ "now"|date("Y") }}
                    </div>
                </div>


                <div class="footerColumn">

                    <div class="f20 white_color">
                        Карта Сайта:
                    </div>

                    {{ knp_menu_render('catalog_sitemap', {'currentClass': 'current'}) }}

                </div>

                <div class="footerColumn">
                        {{ knp_menu_render('info_sitemap', {'currentClass': 'current'}) }}
                </div>

                <div class="footerColumn footerColumnLast">

                    <div class="shareLinks">
                        <a href="http://facebook.com/nurix.kg" target="_blank"><img alt="Страница на Facebook"
                                    src="{{ asset('public/img/icon/fb_icon.png') }}"></a>
                        <a href="https://twitter.com/nurixKG" target="_blank"><img alt="Профиль в твиттере"
                                    src="{{ asset('public/img/icon/twit_icon.png') }}"></a>
                        <a href="http://www.odnoklassniki.ru/nurix" target="_blank"><img alt="Группа в одноклассниках"
                                    src="{{ asset('public/img/icon/ok_icon.png') }}"></a>
                    </div>
<!--
                    <div class="f20 white_color">
                        <div class="clearbox"></div>
                        Подписка на новости:
                        <form action="" name="forma2">
                            <input type="text" class="podpiska" placeholder="Введите ваш электронный адрес"
                                   name="podpiska"/>
                            <input class="button_podpiska" type="submit" value="Подписаться">
                        </form>
                    </div>
-->
                </div>

            </div>

        </div>
        <div class="clearbox"></div>
    </div>
</footer>

</body>
</html>
