{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    {% for group in groups %}
        <table class="table table-bordered table-striped sonata-ba-list">
            <thead>
                <tr>
                    <th colspan="3">{{ group.label|trans({}, group.label_catalogue) }}</th>
                </tr>
            </thead>

            <tbody>
                {% for admin in group.items %}
                    {% if admin.hasroute('create') and admin.isGranted('CREATE') or admin.hasroute('list') and admin.isGranted('LIST') %}
                        <tr>
                            <td class="sonata-ba-list-label">{{ admin.label|trans({}, admin.translationdomain) }}</td>
                            <td>
                                <div class="btn-group">
                                    {% if admin.hasroute('create') and admin.isGranted('CREATE') %}
                                        {% if admin.subClasses is empty %}
                                            <a class="btn btn-small" href="{{ admin.generateUrl('create')}}">
                                                <i class="icon-plus"></i>
                                                {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                                            </a>
                                        {% else %}
                                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="icon-plus"></i>
                                                {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                {% for subclass in admin.subclasses|keys %}
                                                <li>
                                                    <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">{{ subclass }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <a class="btn btn-small" href="{{ admin.generateUrl('list')}}">
                                            <i class="icon-list"></i>
                                            {% trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
                                        </a>
                                    {% endif %}
                                    {% if admin.hasroute('excel') and admin.isGranted('CREATE') %}
                                        {% if admin.subClasses is empty %}
                                            <a class="btn btn-small" href="{{ admin.generateUrl('excel')}}">
                                                <i class="icon-hdd"></i>
                                                Импортировать из файла
                                            </a>
                                        {% else %}
                                            <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="icon-hdd"></i>
                                                Импортировать из файла
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                {% for subclass in admin.subclasses|keys %}
                                                    <li>
                                                        <a href="{{ admin.generateUrl('excel', {'subclass': subclass}) }}">{{ subclass }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
