{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} : Редактирование профиля
{% endblock %}

{% block fos_user_content %}
<div class="sonata-user-edit-profile">

    <h2>{{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}</h2>

    {{ form_errors(form) }}

    {% form_theme form _self %}

    {% block field_row %}

        {# custom field row output #}
    {% endblock field_row %}

    <form action="{{ path('sonata_user_profile_edit') }}" method="POST" class="form-horizontal">
        <div class="control-group">
            {{ form_label(form.firstname, 'form.label_firstname'| trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.firstname) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.lastname, 'form.label_lastname'| trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.lastname) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.website , 'form.label_website'| trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.website) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.dateOfBirth, 'form.label_date_of_birth'| trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.dateOfBirth, {'attr': {'class': 'span1'}}) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.biography, 'form.label_biography'| trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.biography) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.timezone, 'form.label_timezone'| trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.timezone) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.gender, 'form.label_gender' | trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.gender) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.phone, 'form.label_phone'| trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.phone) }}</div>
        </div>
        <div class="control-group">
            {{ form_label(form.address, 'form.label_address'| trans({}, 'SonataUserBundle'), {'attr': {'class': 'control-label'}}) }}
            <div class="controls">{{ form_widget(form.address) }}</div>
        </div>

        {{ form_rest(form) }}
        <div class="registration_submit">
            <input type="submit" name="submit" class="button_buy-trn" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
        </div>
    </form>
</div>
{% endblock %}