*
{
    font-family: Arial;
    font-size: 12px;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 16px;
}
.float_left
{
    float: left;
}
.float_right
{
	float: right;
}
.font
{

}
header,.middle,footer
{
    display: block;
}
a, a:hover, a:link, a:visited
{
    color: black;
    text-decoration: none;
}
a img
{
    border: none;
}

li
{
    list-style: none;
}
ul
{
    margin: 0;
    padding: 0;
}
.f14
{
    font-size: 14px;
}
.f16
{
    font-size: 16px;
}
.f18
{
    font-size: 18px;
}
.f20
{
    font-size: 20px;
}
.f24
{
    font-size: 24px;
}
.white_color
{
    color: #ffffff;
}
.gray_color
{
    color: #666666;
}
body
{
    margin: 0 auto;
    background-color: #ffffff;
}
header
{
    background: url("../img/header.png") repeat-x;
    /*text-align: center;*/
}
.center
{
    width: 930px;
    margin: 0 auto;
}
.header_line
{
    height: 35px;
    margin-bottom: 10px;
    padding-top: 15px;
}
.header_line2
{
    padding-top: 12px;
}
#logo
{
    width: 210px;
    float: left;
    padding-top: 15px;
    margin-bottom: 22px;
 }
.clearbox
{
    clear: both;
}
.leftColumn
{
    float: left;
    overflow: hidden;
    width: 210px;
}

#interesting
{
	padding-top: 40px;
}
.content
{
    padding-left: 30px;
    overflow: hidden;
}

#info
{
    text-align: center;
    border: 1px solid #000000;
    overflow: hidden;
}
ul.main_menu
{
    float:left;
    width: 200px;
    margin-top: 4px;
}
ul.main_menu li
{
    float:left;
}

ul.main_menu a
{
    color: #000000;
    text-decoration: none;

}
ul.main_menu a:hover
{
    text-decoration: underline;
}
input.search:focus
{
    outline: none;
}
input.search
{
    width: 350px;
    padding-left: 10px;
    height: 25px;
    border-radius:5px;
    border: 1px solid orange;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;

}
.search_button
{
    width: 20px;
    height: 18px;
    border: none;
    margin-left: -30px;
    background: url("../img/search.png") no-repeat 50% 50%;
    vertical-align: middle;
}
div.search
{
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 370px;
    height: 27px;
    vertical-align: middle;
    padding-left: 50px;
    float: left;
    margin-top: -3px;
}
#contacts
{
    width: 210px;
    float: left;
    padding-left: 30px;
    padding-top: 16px;
}
#times
{
    width: 210px;
    float: left;
    margin-left: 50px;
    margin-top: 6px;
}

.vhod_div {
    float: left;
    min-width: 100px;
    margin-left: 55px;
}

.vhod_div > div:first-child {
    float: left;
    margin-top: 2px;
}

.vhod_div > div:last-child {
    float: right;
}

#vhod_message {
    border: none;
    margin-top: 5px;
    text-decoration: none;
    float: left;
    margin-left: 5px !important;
}

.vhod {
    border: none;
    margin-top: 5px;
    margin-left: 5px;
    text-decoration: none;
    border-bottom: 1px dashed;
    float: left;
    cursor: pointer;
}

.vhod:hover {
    border-bottom: 1px solid;
}

.button {
    background-image: url("../img/button2.png");
    background-repeat: no-repeat;
    float: left;
    padding: 7px;
    margin-top: -2px;
    margin-left: 20px;
    width: 150px;
	text-align: center;
}

.button:hover {
    background-image: url("../img/button.png");
}
.brown_color
{
    color: #ca5f00;
}
.korzina
{
    margin-top: 7px;
    width: 150px;
    float: left;
    margin-left: 18px
}
.otstup
{
    text-decoration: underline;
    margin-top: 6px;
}

/*SIDEBAR*/

.side_menu
{

}
.side_menu li.catalog_menu
{
    font-style: italic;
    padding: 0 0 5px 0;
}
.side_menu li.catalog_menu a
{
    text-decoration: none;
}
#catalog_left_menu .side_menu > li > a
{
    font-weight: bold;
}

.side_menu li
{
    padding-top: 10px;
}
.side_menu li a
{
    text-decoration: underline;
}
.side_menu li a:hover
{
    text-decoration: none;
}

.side_menu li.current > a
{
    color: #FF5200;
    text-decoration: none;
}

.side_menu li.current_ancestor ul,
.side_menu li.current ul,
.side_menu li ul
{
    display: block;
}
.side_menu ul.menu_level_1
{
    padding-left: 9px;
}
.side_menu li>ul
{
    /*display: none;*/
}

footer
{
	margin-top: 60px;
}
.footerLine
{
    background: url("../img/footer_krugliwki.png") repeat-x;
    height: 4px;
}
.footerBackgroung
{
    background-color: #454545;
}
.footer
{
    padding-top: 40px;
}
.footerColumn
 {
    width: 210px;
    height: 360px;
    float: left;
    padding-right: 30px;
 }
.footerColumnLast
{
    padding-right: 0px;
    float: left;
}
.logoFooter
{
    height: 30px;
    width: 120px;
    padding: 0 0 20px 0;
}
.aboutUsText
{
    width: 210px;
    word-wrap: break-word;
    color: white;
    text-align: left;
    padding: 0 0 110px 0;
}
.aboutUsText a
{
    color: #ffffff;
    text-decoration: underline;
}
ul.siteMapLinks li, ul.otherLinks li
{
    margin-top: 4px;
}
ul.siteMapLinks li a,
ul.otherLinks li a
{
    font-size: 12px;
    color: #ffffff;
}
ul.siteMapLinks ul
{
    padding-left: 15px;
}
.otherLinks
{
    margin: 30px 0 0 0;
}
.shareLinks
{
    float: right;
    padding-bottom: 30px;
}
.shareLinks a
{
    padding-left: 10px;
}
.podpiska
{
    width: 200px;
    height: 26px;
    float: right;
    padding-left: 10px;
    margin-top: 10px;
    border-radius:5px;
    border: 1px solid #242424;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
}
.podpiska:focus
{
    outline: none;
}
.button_podpiska
{
    float: right;
    margin-top: 10px;
}

.facebook_page
{
	height: 270px;
	width: 210px;
	padding-top: 40px;
	padding-bottom: 20px;
}

.display_block
{
    display: block;
}
.button_buy, input.submit_button, .link-btn
{
    background: url("../img/btn-buy.png") repeat-x 0 -4px;
    border: 1px solid #BDBDBD;
    border-radius: 4px 4px 4px 4px;
    color: #666 !important;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #B7B7B7;
}
.button_buy:hover, .submit_button:hover, .link-btn:hover
{
    border: 1px solid #fdad01;
    color: #000 !important;
    background: url("../img/btn-buy-hover.png") repeat-x 0 -4px;
}
.button_buy-trn
{
    background: url("../img/btn-buy-hover.png") repeat-x 0 -4px;
    border: 1px solid #fdad01;
    color: #000 !important;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #B7B7B7;
}
.button_buy-trn:hover
{
    border: 1px solid #BDBDBD;
    color: #666 !important;
    background: url("../img/btn-buy.png") repeat-x 0 -4px;
}
hr
{
    background-color: #ebebef;
    border: none;
    margin-bottom: 30px;
    margin-left: 5px;
    height: 1px;
}
.main_hr
{
    width: 890px;
    margin: auto;
}


/* paginator */

.paginator > li {
    float: left;
    margin-right: 10px;
}
.paginator a, .paginator span {
    display: block;
    font-size: 17px;
    padding-top: 2px;
}
.paginator .p-active {
    background-color: #FFB300;
    border-radius: 3px 3px 3px 3px;
    display: block;
    padding: 2px 2px 2px 3px;
}

/* end paginator */


.flash-notice {
    color: #CC8120;
    font-size: 15px;
    font-weight: bold;
}
