{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} : {{ title }}{% endblock %}
{% block body %}
{% include  "CatalogBundle:Content:showRandomProductList.html.twig" with {'pagination':pagination} %}
{% endblock %}



