    <div class="catalog_item float_left">
        <div class="product_title"><a class="name size16px"
                href="{{ path('nurix_goods_get_info', {'id': product.id}) }}">{{ product.name }}</a></div>
        <div class="clearbox"></div>
        <div class="product_img">
            <a  href="{{ path('nurix_goods_get_info', {'id': product.id} ) }}">
                {% if product.sticker %}
                    <img src="{{ asset('bundles/catalog/img/stickers/'~product.sticker~'.png') }}" class="sticker">
                {% endif %}
                {{ product.imagePath|galleryThumb(asset('bundles/catalog/img/noImage/good_big.jpg'),'goods_big') }}
            </a>
        </div>
        <div>

            <div class="size16px price float_left">{{ product.price | price('USD') }}</div>
            <div class="gray price_kgs float_left margin_top10px"> ({{ product.price | price('KGS',0) }})</div>
            <div class="clear"></div>
            <div class="float_right">
                <a href="{{ path('nurix_bin_ajax_add_item',{'id':product.id}) }}"
                   onclick="return false;" class="button_buy">
                    Купить
                </a>
            </div>
        </div>
    </div>
