{% block javascripts %}
    <script src="{{ asset("bundles/catalog/js/ajax_pagination.js") }}" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/catalog/css/catalog.css') }}" type="text/css" media="screen" rel="stylesheet"/>
{% endblock %}
<div>
    <div class="clearbox"></div>
    <h1 class="left size24px">{{ title }}</h1>
    <div class="clearbox"></div>
    {% if subtitle is defined %}
    <h4>{{ subtitle }}</h4>
    {% endif %}
    <div id="all-catalog">
        {% if pagination.getTotalItemCount > 0 %}
            {% include  "CatalogBundle:Content:getAjaxRandomProductList.html.twig" with {'pagination':pagination} %}
        {% else %}
            <h2>
                В этой категории товаров пока нет
            </h2>
        {% endif %}
    </div>
</div>
