{% extends '::base.html.twig' %}

{% if product.imagePath|isHaveImage %}
    {% block facebook_image_url %}
        {{ product.imagePath|path(asset('public/img/logo.png'),'goods_big') }}
    {% endblock %}
{% endif %}
{% block title %}
    {{ parent() }} : {{ product.name }} в Бишкеке
{% endblock %}
{% block meta_description %}
    {{ product.name }} в Бишкеке по цене {{ product.price }}$. {{ product.shortDescription }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/addRem.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/product_slider.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/jquery.elevatezoom.js")}}"></script>
    <script type="text/javascript" src="{{ asset("bundles/catalog/fancybox/jquery.fancybox.pack.js")}}"></script>
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/product_slider_pictures.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/catalog/js/tabs.js") }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("bundles/catalog/fancybox/jquery.fancybox.css")}}" type="text/css" rel="stylesheet"  media="screen" />
    <link href="{{ asset('bundles/catalog/css/phone_info.css') }} " type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/catalog/css/product_slider.css') }} " type="text/css" rel="stylesheet"/>
    <link href="{{ asset("bundles/catalog/css/tabs.css") }}" type="text/css" media="screen" rel="stylesheet"/>
{% endblock %}
{% block body %}
    <div class="product">
        <div class="slide_center">
            {% if product.imagePath|isHaveImage %}
                <div id="my-folio-of-works" class="svwp">
                    <ul>
                        {% for galleryHasMedia in product.imagePath.GalleryHasMedias %}
                            <li>
                                <a class="fancybox-thumb" rel="fancybox-thumb"  href="{% path galleryHasMedia.media, 'reference' %}">
                                    <img src="{% path galleryHasMedia.media, 'goods_big' %}" data-zoom-image="{% path galleryHasMedia.media, 'reference' %}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {% else %}
                {{ product.imagePath|galleryThumb(asset('bundles/catalog/img/noImage/good_big.jpg'),'big') }}
            {% endif %}
        </div>

        <div class="float_left">
            <h1 class="product_name">{{ product.name }}</h1>
            <div class="product_base_info">
                {% if mainchar %}
                    <table class="chars">
                        {% for type in mainchar %}
                            <tr>
                                <td class="mainCharType">{{ type.getCTypeId.name }}:</td>
                                <td class="mainCharValue">{{ type.value }}</td>
                            </tr>

                        {% endfor %}
                    </table>

                {% else %}
                    <h3>Характеристики еще не введены</h3>
                {% endif %}
            </div>
            <div class="product_right_column">
                <div class="product_box">
                    <div class="product_price">{{ product.price| price('USD') }}</div>
                    <div class="product_price_som">{{ product.price| price('KGS') }}</div>
                    <div class="product_amount">
                        <div class="float_left word_col">кол-во:</div>
                        <div><input type="text" class="box" value="{{ amount }}" id="amount"/></div>
                        <div class="addrem" onmousedown="return false">
                            <span class="znak" id="add">+</span>
                            <span class="znak" id="rem">-</span>
                        </div>
                        <a data-id="{{ product.id }}" href="{{ path('nurix_bin_ajax_add_item',{'id':product.id}) }}"
                           onclick="return false;" class="button_buy_bin">
                            Заказать
                        </a>
                    </div>
                </div>
                <div class="clearbox"></div>
                <div class="product_last_update">
                    {% if product.amount > 0 %}
                        Товар есть в наличии.
                    {% else %}
                        Данный товар приобретается только под заказ, и доставляется в течении 7 рабочих дней.
                    {% endif %}
                </div>
            </div>
            <div class="clearbox"></div>

            {% if mainchar %}
                <hr class="product_hr1"/>
            {% endif %}
        </div>
        <div class="clearbox"></div>
        <div class="product_description">
            <div style="color: #999;">
                Описание:
            </div>
            {%  if product.fullDesctiption  %}
            {{ product.fullDesctiption }}
            {% else %}
                Нет описания
            {% endif %}
        </div>
        <div class="clearbox"></div>
        {# TODO: Перевести в отдельный бандл#}
        <script type="text/javascript">(function() {
                if (window.pluso)if (typeof window.pluso.start == "function") return;
                if (window.ifpluso==undefined) { window.ifpluso = 1;
                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                    var h=d[g]('body')[0];
                    h.appendChild(s);
                }})();</script>
        <div class="pluso" data-background="none;" data-options="medium,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="facebook,twitter,google,vkontakte,odnoklassniki,moimir,email" data-user="1122871114"></div>
        <div class="clearbox"></div>
        <hr class="product_hr2">
        <div id="tabs_container">
            <div>
                <ul class="menu">
                    <li id="characteristic" class="{% if product.review is null %}active{% endif %} tabs_ico tabs_char">Характеристики</li>
                    <li id="review" class="{% if product.review %}active{% endif %} tabs_ico tabs_obzor">Обзор</li>
                    <li id="pfeedbacks" class="tabs_ico tabs_feedbacks">Отзывы</li>
                    <li id="video" class="tabs_ico tabs_video">Видео</li>
                </ul>
                <span class="clear"></span>

                <div class="tabs_content characteristic" {% if product.review %}style="display:none"{% endif %}>
                    {% if mainchar %}
                        {% include  "CatalogBundle:Product:characteristic.html.twig" %}
                    {% else %}
                        <h3>Характеристики еще не введены</h3>
                    {% endif %}
                </div>

                <div class="tabs_content review" {% if product.review %}style="display:block"{% endif %}>
                    <h2>Обзор</h2>
                    {% if product.review %}
                        {{ product.review|raw }}
                    {% else %}
                        <h3>еще не загружен</h3>
                    {% endif %}
                </div>

                <div class="tabs_content pfeedbacks">
                    {% include "CatalogBundle:Product:comments.html.twig" %}
                </div>

                <div class="tabs_content video">
                    {% if product.youtube %}
                        {% include  "CatalogBundle:Product:video.html.twig" %}
                    {% else %}
                        <h1>Пока видео еще нет</h1>
                    {% endif %}
                </div>

            </div>
        </div>
        <hr class="product_hr2">
        <div class="product_same">
            {% render controller("CatalogBundle:Product:getSame", {'product':product}) %}
        </div>
    </div>
{% endblock %}
