{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} : Смена пароля
{% endblock %}
{% block fos_user_content %}
    <h2>{{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_change_password" | trans({}, 'SonataUserBundle')}}</h2>

    {{ form_errors(form) }}

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_errors(form) }}

        <div class="control-group">
            {{ form_label(form.current_password, "form.current_password"|trans({}, 'FOSUserBundle')) }}
            {{ form_errors(form.current_password) }}
            <div class="controls">{{ form_widget(form.current_password) }}</div>
        </div>


        <div class="control-group">
            {{ form_label(form.new.first,"form.new_password"|trans({}, 'FOSUserBundle')) }}
            {{ form_errors(form.new.first) }}
            <div class="controls">{{ form_widget(form.new.first) }}</div>
        </div>

        <div class="control-group">
            {{ form_label(form.new.second,"form.new_password_confirmation"|trans({}, 'FOSUserBundle')) }}
            {{ form_errors(form.new.second) }}
            <div class="controls">
                {{ form_widget(form.new.second) }}
            </div>
        </div>

        {{ form_rest(form) }}
        <div class="registration_submit">
            <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="submit_button" />
        </div>
    </form>

{% endblock fos_user_content %}
